.blue-background {
  background-color: lightblue;
  color: white;
}

.greenish {
  display: none;
}
.yellowish {
  display: none;
}

.redish {
  display: none; 
}

.blueish {
  display: none;
}

body {
  margin: 25px;
}

.green-background {
  background-color: green;
}
.yellow-background {
  background-color: yellow;
}

.red-background {
  background-color: red;
}

/* box highlight border */
.makeItAbox {
  border: 10px solid darkgreen;
  margin: 30px;
  background-color: yellow;
}
